<h1>Employee Dashboard</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex">
          <input class="form-control me-2" type="search" name="studentName" [(ngModel)]="studentName" (ngModelChange)="Search()" placeholder="Enter Student Name to Search" aria-label="Search">
        </form>
      </div>
    </div>
</nav>

<table class="table table-bordered">
    <thead>
      <tr>
        <th (click)="sort('studentId')" scope="col">#&nbsp;<i class="fa fa-sort"></i></th>
        <th (click)="sort('studentName')" scope="col">Name&nbsp;<i class="fa fa-sort"></i></th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | orderBy: key: reverse |paginate: {itemsPerPage:5,currentPage:p};">
          <th scope="row">{{user.studentId}}</th>
          <td>{{user.studentName}}</td>
          <td>{{user.studentEmail}}</td>
          <td>{{user.age}}</td>
          <td>
            <i class="fa fa-trash" style="font-size: 20px; color: red;cursor: pointer;"></i>&nbsp;
            <a routerLink="/update/{{user.studentId}}">
              <i class="fa fa-edit" style="font-size: 20px; color: blue;"></i>
            </a>
          </td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>