<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection | paginate: { itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalItems }">
        <th scope="row">{{item.studentId}}</th>
        <td>{{item.studentName}}</td>
        <td>{{item.studentEmail}}</td>
        <td>{{item.age}}</td>
        <td>
          <i (click)="deleteStudent(item.studentId)" class="fa fa-trash" style="font-size: 20px; color: red;cursor: pointer;"></i>&nbsp;
          <a routerLink="/update/{{item.studentId}}">
            <i class="fa fa-edit" style="font-size: 20px; color: blue;"></i>
          </a>
        </td>
      </tr>     
      <pagination-controls (pageChange)="getPage(p = $event)"></pagination-controls>
    </tbody>
</table>